/* Global Styles */
:root {
  --primary-color: #1a1525;
  --secondary-color: #2f2a3a;
  --accent-color: #e74c3c;
  --light-color: #f4eee0;
  --dark-color: #393646;
  --success-color: #2ecc71;
  --sunburst-yellow: #f39c12;
  --warning-color: #f39c12;
  --danger-color: #e74c3c;
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --transition: all 0.3s ease;
  --primary-button: #2614ee;
  --secondary-button: #5633f1;
  --text-color: white;
  --site-font: "Poppins";
  --font-weight__text: 300;
  --text-hover: #a37ff9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .container {
    margin-top: 15%;
  }
}

body {
  font-family: var(--site-font);
  font-weight: var(--text-font-weight);
  font-size: 1rem;
  line-height: 1.6;
  background-color: var(--primary-color);
  color: var(--text-color);
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1rem;
}

a {
  text-decoration: none;
  color: var(--text-hover);
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Navbar */
.navbar {
  display: flex;
  font-family: "Poppins";
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: var(--primary-color);
  color: white;
  box-shadow: var(--box-shadow);
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--text-hover);
}

.navbar .welcome {
  margin-right: 0.5rem;
}

/* Main Content */
.main-content {
  margin-top: 4rem;
  padding: 1rem;
  .username-container {
    text-align: center;
  }
}

/* Forms */
.form-container {
  max-width: 500px;
  margin: 5rem auto;
  overflow: hidden;
  padding: 2rem;
  border-radius: 5px;
  text-align: center;
  background-color: var(--secondary-color);
  box-shadow: var(--box-shadow);
  .section {
    border-bottom: 1px solid var(--light-color);
    margin-bottom: 1rem;
    .guest-login {
      font-weight: 600;
      background-color: var(--primary-button);
      padding: 1rem;
      border-radius: 10px;
      cursor: pointer;
    }

    .section-header {
      font-weight: 600;
    }
  }
}

.navbar-logo {
  width: 2rem;
}

.footer-logo {
  width: 6rem;
  height: auto;
}

.form-title {
  text-align: center;
  color: var(--sunburst-yellow);
}

.form-description {
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: var(--secondary-color);
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(52, 152, 219, 0.25);
}

/* Buttons */
.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.5rem 1.5rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 0.25rem;
  margin-right: 0.5rem;
  transition: var(--transition);
  outline: none;
  font-weight: 600;
  font-family: var(--site-font);
}

.btn-primary {
  background: var(--primary-button);
  color: var(--light-color);
}

.btn-secondary {
  background: var(--secondary-button);
  color: #fff;
}

.btn-success {
  background: var(--success-color);
  color: #fff;
}

.btn-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn:hover {
  opacity: 0.8;
  transform: translateY(-2px);
}

/* Alerts */
.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
  border-radius: 0.25rem;
}

.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.alert-success {
  background: var(--success-color);
  color: #fff;
}

.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

/* Cards */
.card {
  background: var(--secondary-color);
  padding: 1.5rem;
  border-radius: 0.25rem;
  box-shadow: var(--box-shadow);
  margin-bottom: 1.5rem;
}

.card-header {
  background: var(--primary-color);
  color: #fff;
  padding: 1rem;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card-body {
  padding: 1.5rem;
}

/* Queue Status */
.queue-status {
  text-align: center;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding: 1rem;
  background: var(--secondary-color);
  border-radius: 0.25rem;
  box-shadow: var(--box-shadow);
  .queue-count {
    font-size: 4rem;
    color: var(--sunburst-yellow);
  }
  .queue-count-text {
    margin-bottom: 1rem;
  }
}

.queue-status-text {
  font-size: 1.2rem;
  font-weight: bold;
}

.queue-actions {
  display: flex;
  gap: 0.5rem;
}

/* Pod Card */
.pod-card {
  background: var(--secondary-color);
  border-radius: 0.25rem;
  box-shadow: var(--box-shadow);
  margin-bottom: 1.5rem;
  overflow: hidden;
}

.pod-header {
  background: var(--primary-color);
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pod-body {
  padding: 1.5rem;
}

.pod-players {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.pod-player {
  background: black;
  padding: 1rem;
  border-radius: 0.25rem;
  text-align: center;
}

.pod-actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.pod-timer {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: var(--danger-color);
}

/* Match History */
.match-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.match-item {
  background: var(--secondary-color);
  color: white;
  border-radius: 0.25rem;
  box-shadow: var(--box-shadow);
  padding: 1rem;
}

.match-date {
  color: var(--text-hover);
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.match-players {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.match-player {
  background: black;
  font-family: var(--site-font);
  font-weight: 600;
  margin-bottom: 0.5rem;
  padding: 1rem;
  border-radius: 0.25rem;
  flex-grow: 1;
  min-height: 10rem;
  display: flex;
  flex-basis: 100%;
  flex-wrap: nowrap;

  .commander-name {
    font-weight: var(--font-weight__text);
  }
}

.commander-name {
  font-weight: --;
}

.game-winner {
  background-color: gold;
}

/* Rating */
.rating-stars {
  display: flex;
  gap: 0.25rem;
  margin: 0.5rem 0;
  justify-content: center;
}

.star {
  cursor: pointer;
  font-size: 1.5rem;
}

.star-filled {
  color: var(--warning-color);
}

.star-empty {
  color: #ccc;
}

/* FOOTER */
.footer {
  padding: 2rem;
  background-color: black;
  .footer-content {
    text-align: center;
  }
}

/*Custom fonts */

/*chonky chonk*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;800&display=swap");

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

/* Mobile Styles */
@media (max-width: 700px) {
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul {
    justify-content: center;
    margin-top: 0.5rem;
  }

  .pod-players {
    grid-template-columns: 1fr;
  }

  .pod-actions {
    flex-direction: column;
  }

  .queue-status {
    flex-direction: column;
    gap: 1rem;
  }

  .queue-actions {
    width: 100%;
    flex-direction: column;
  }
}
