version: "3"

services:
  app:
    build: .
    ports:
      - "9000:9000"
    environment:
      - NODE_ENV=production
      - PORT=9000
      - MONGODB_URI=mongodb+srv://rdowns2387:BasementDrywall2026!@myusers.jsqlvmk.mongodb.net/pod-pairer
      - JWT_SECRET=your_jwt_secret_key
    depends_on:
      - mongo
    restart: unless-stopped

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    restart: unless-stopped

volumes:
  mongo-data:
